
body {
  background: #f49c8b;
  font-family: 'poppins';
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h2{
  text-align: center;
  color: #3d3d3d;
  font-family: 'poppins';
  font-size: large;
margin-bottom: 30px;
}
  

#social-media{
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 30px;
  text-align: center;}
  i {
    padding: 10px;
    color: #3d3d3d;}

i:hover {
    color: #3c7ec1;}
.fa-solid {
  padding: 10px;
}
.scrolling-words-container {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.scrolling-words-box {
  height: 3rem;
  margin: auto;
  overflow: hidden;
}
.scrolling-words-box ul {
  margin: 0 0.625rem;
  padding: 0;
  animation: scrollUp 4s infinite;
}
.scrolling-words-box ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3rem;
  list-style: none;
}
@keyframes scrollUp {
  15%, 25% {
    transform: translateY(-20%);
 }
  40%, 50% {
    transform: translateY(-40%);
 }
  65%, 75% {
    transform: translateY(-60%);
 }
  90%, 100% {
    transform: translateY(-80%);
 }
}